<template>
    <div id="modal_employee" class="modal custom-modal fade" role="dialog" @click.self="closeModal">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Add Employee</h5>
                    <button type="button" class="close" ref="buttonCloseModal" data-dismiss="modal" @click="closeModal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="col-form-label">First Name <span class="text-danger">*</span></label>
                                    <input class="form-control" v-model="formData.first_name" type="text">
                                    <div class="invalid-feedback" :class="errors.first_name ? 'd-block' : ''" v-if="errors.first_name">{{ errors.first_name[0] }}</div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="col-form-label">Last Name <span class="text-danger">*</span></label>
                                    <input class="form-control" v-model="formData.last_name" type="text">
                                    <div class="invalid-feedback" :class="errors.last_name ? 'd-block' : ''" v-if="errors.last_name">{{ errors.last_name[0] }}</div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="col-form-label">Email </label>
                                    <input class="form-control" v-model="formData.email" type="email">
                                    <div class="invalid-feedback" :class="errors.email ? 'd-block' : ''" v-if="errors.email">{{ errors.email[0] }}</div>
                                </div>
                            </div>
                            <div class="col-sm-6">  
                                <div class="form-group">
                                    <label class="col-form-label">Birth Date </label>
                                    <datepicker :format="customFormatter" v-model="formData.date_of_birth" :bootstrap-styling="true"></datepicker>
                                    <div class="invalid-feedback" :class="errors.date_of_birth ? 'd-block' : ''" v-if="errors.date_of_birth">{{ errors.date_of_birth[0] }}</div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="col-form-label">Phone <span class="text-danger">*</span></label>
                                    <input class="form-control" type="text" v-model="formData.phone">
                                    <div class="invalid-feedback" :class="errors.phone ? 'd-block' : ''" v-if="errors.phone">{{ errors.phone[0] }}</div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="col-form-label">Position</label>
                                    <select class="form-control" v-model="formData.position_id">
                                        <option v-for="(position, key) in positions" :key="key" :value="key">{{ position }}</option>
                                    </select>
                                    <div class="invalid-feedback" :class="errors.position_id ? 'd-block' : ''" v-if="errors.position_id">{{ errors.position_id[0] }}</div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Province </label>
                                    <select class="form-control" v-model="formData.province_id" @change="getRegency">
                                        <option v-for="(province, key) in provinces" :key="key" :value="key">{{ province }}</option>
                                    </select>
                                    <div class="invalid-feedback" :class="errors.province_id ? 'd-block' : ''" v-if="errors.province_id">{{ errors.province_id[0] }}</div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Regency </label>
                                    <select class="form-control" v-model="formData.regency_id">
                                        <option v-for="(regency, key) in regencies" :key="key" :value="key">{{ regency }}</option>
                                    </select>
                                    <div class="invalid-feedback" :class="errors.regency_id ? 'd-block' : ''" v-if="errors.regency_id && showError">{{ errors.regency_id[0] }}</div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Address </label>
                                    <textarea class="form-control"  v-model="formData.address"></textarea>
                                    <div class="invalid-feedback" :class="errors.address ? 'd-block' : ''" v-if="errors.address && showError">{{ errors.address[0] }}</div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Zip Code </label>
                                    <input class="form-control" type="text" v-model="formData.zip_code">
                                    <div class="invalid-feedback" :class="errors.zip_code ? 'd-block' : ''" v-if="errors.zip_code && showError">{{ errors.zip_code[0] }}</div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Ktp <span class="text-danger">*</span></label>
                                    <input class="form-control" type="text" v-model="formData.ktp">
                                    <div class="invalid-feedback" :class="errors.ktp ? 'd-block' : ''" v-if="errors.ktp && showError">{{ errors.ktp[0] }}</div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Attach Ktp </label>
                                    <input class="form-control" type="file" @change="changeFile">
                                    <div class="invalid-feedback" :class="errors.ktp ? 'd-block' : ''" v-if="errors.ktp && showError">{{ errors.ktp[0] }}</div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Bank </label>
                                    <select class="form-control" v-model="formData.bank_id">
                                        <option v-for="(bank, key) in banks" :key="key" :value="key">{{ bank }}</option>
                                    </select>
                                    <div class="invalid-feedback" :class="errors.province_id ? 'd-block' : ''" v-if="errors.province_id">{{ errors.province_id[0] }}</div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="col-form-label">Bank Account Number </label>
                                    <input class="form-control" type="text" v-model="formData.bank_account_number">
                                    <div class="invalid-feedback" :class="errors.bank_account_number ? 'd-block' : ''" v-if="errors.bank_account_number">{{ errors.bank_account_number[0] }}</div>
                                </div>
                            </div>
                        </div>
                        <div class="submit-section">
                            <button @click="createOrUpdate" class="btn btn-primary submit-btn">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
export default {
    props: {
        editEmployeeUrl : {
            type: String,
            required: false
        }
    },
    data() {
        return {
            positions : [],
            provinces : [],
            banks : [],
            regencies : [],
            employee : {},
            errors : {},
            showError : false,
            formData : {
                name: '',
                first_name : '',
                last_name : '',
                date_of_birth : '',
                phone : '',
                email : '',
                province_id : '',
                regency_id : '',
                address : '',
                zip_code: '',
                ktp : '',
                position_id : '',
                bank_id : '',
                bank_account_number : '',
            },
            attach_ktp : '',
            urlEditEmployee : this.editEmployeeUrl ?? '',
        }
    },
    mounted() {
        this.getProvince();
        this.getPosition();
        this.getBank();
        
        if (this.urlEditEmployee != '') {
            this.dataEditEmploye();
        }

    },
    methods : {
        async getProvince() {
            await axios.post('dropdown/province').then((res) => {
                this.provinces = res.data;
            });
        },

        async getBank() {
            await axios.post('dropdown/bank').then((res) => {
                this.banks = res.data;
            });
        },

        async getRegency() {
            let data = {
                provinceId : this.formData.province_id
            }
            await axios.post('dropdown/regency', data).then((res) => {
                this.regencies = res.data;
            });
        },

        async getPosition() {
            await axios.post('dropdown/position').then((res) => {
                this.positions = res.data;
            });
        },

        async createOrUpdate(e) {
            e.preventDefault();

            const config = {
                headers: { 
                    'Content-type': 'multipart/form-data', 
                    'Accept' : 'application/json',
                    'X-CSRF-TOKEN' : document.querySelector('meta[name="csrf-token"]').getAttribute('content')
                }
            }
            
            let formData = new FormData();

            formData.append('first_name', this.formData.first_name);
            formData.append('last_name', this.formData.last_name);
            formData.append('date_of_birth', this.customFormatter(this.formData.date_of_birth));
            formData.append('phone', this.formData.phone);
            formData.append('email', this.formData.email);
            formData.append('province_id', this.formData.province_id);
            formData.append('regency_id', this.formData.regency_id);
            formData.append('address', this.formData.address);
            formData.append('zip_code', this.formData.zip_code);
            formData.append('ktp', this.formData.ktp);
            formData.append('position_id', this.formData.position_id);
            formData.append('bank_id', this.formData.bank_id);
            formData.append('bank_account_number', this.formData.bank_account_number);

            if (this.attach_ktp != '') {
                formData.append(`file`, this.attach_ktp);
            }
            console.log(formData);
            await axios.post(this.urlEditEmployee != '' ? this.urlEditEmployee : 'employee/store', formData, config).then((res) => {
                this.fetchDataEmployee();
                this.$refs.buttonCloseModal.click();
            }).catch((err) => {
                this.errors = err.response.data.errors;

                setTimeout(() => {
                    this.errors = []
                }, 2500);
            });
        },

        async dataEditEmploye(){
            await axios.get(this.urlEditEmployee).then((res) => {
                this.formData = res.data
                this.formData.province_id = res.data.province_id;
                this.formData.regency_id = res.data.regency_id;
                this.getRegency();
            })
        },

        customFormatter(date) {
            return moment(date).format('d/M/YYYY');
        },

        closeModal() {
            this.$emit('closeModal', false);
        },

        fetchDataEmployee() {
            Event.$emit('fetchDataEmployee');
        },

        changeFile(e) {
            this.attach_ktp = e.target.files[0];
        },
    }
}
</script>