<template>
    <div class="content container-fluid">
        
        <!-- Page Header -->
        <div class="page-header">
            <div class="row align-items-center">
                <div class="col">
                    <h3 class="page-title">Employee</h3>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
                        <li class="breadcrumb-item active">Employee</li>
                    </ul>
                </div>
                <div class="col-auto float-right ml-auto">
                    <a href="#" class="btn add-btn" data-toggle="modal" @click="showModal = true" data-target="#modal_employee"><i class="fa fa-plus"></i> Add Employee</a>
                    <div class="view-icons">
                        <a href="#" @click="viewThumbnail = true, viewList = false" :class="viewThumbnail ? 'grid-view btn btn-link active' : 'grid-view btn btn-link'"><i class="fa fa-th"></i></a>
                        <a href="#" @click="viewThumbnail = false, viewList = true" :class="viewList ? 'list-view btn btn-link active' : 'list-view btn btn-link'"><i class="fa fa-bars"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Page Header -->
        
        <!-- Search Filter -->
        <div class="row filter-row">
            <div class="col-sm-6 col-md-3">  
                <div class="form-group form-focus">
                    <input type="text" v-model="dataSearch.firstName" class="form-control floating">
                    <label class="focus-label">First Name</label>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">  
                <div class="form-group form-focus">
                    <input type="text" v-model="dataSearch.lastName" class="form-control floating">
                    <label class="focus-label">Last Name</label>
                </div>
            </div>
            <div class="col-sm-6 col-md-3"> 
                <div class="form-group form-focus select-focus">
                    <select class=" form-control floating" v-model="dataSearch.positionId">
                        <option value="">-- Chose --</option>
                        <option v-for="position in positions" :key="position.id" :value="position.id">{{ position.name }}</option>
                    </select>
                    <label class="focus-label">Position</label>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">  
                <a href="#" @click="searchEmployee" class="btn btn-success btn-block"> Search </a>  
            </div>
        </div>

        <employee-thumbnail 
            :listEmployeeUrl="listEmployeeUrl"
            v-if="viewThumbnail"
        >
        </employee-thumbnail>
        <employee-list 
        :listEmployeeUrl="listEmployeeUrl"
        v-if="viewList"
        ></employee-list>
        <employee-form :editEmployeeUrl="urlEdit" v-if="showModal" @closeModal="closeModal"></employee-form>
        <modal-delete v-if="showModalDelete" :deleteEmployeeUrl="urlDelete" :eventName="'fetchDataEmployee'" @closeModalDelete="closeModalDelete"></modal-delete>
        <div class="conver-loader" v-if="loader">
        </div>
        <div class="spinner-border text-primary cdm-loader" v-if="loader" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    
</template>
<script>
export default {
    props: {
        positions: Array,
        listEmployeeUrl: String
    },
    data(){
        return {
            viewList: {
                thumbnail:1,
                list:2
            },
            viewList: false,
            viewThumbnail: false,
            dataSearch : {
                firstName: '',
                lastName:'',
                positionId:'',
            },
            loader: false,
            showModal : false,
            urlEdit : '',
            showModalDelete : false

        }
    },
    mounted() {
        this.viewThumbnail = true;
        
        Event.$on('showLoader', (show) => {
            this.loader = show
        })

        Event.$on('editEmployee', (url) => {
            this.showModal = true;
            this.urlEdit = url;
        })

        Event.$on('deleteAlert', (url) => {
            this.showModalDelete = true;
            this.urlDelete = url;
        })
    },
    methods: {
        searchEmployee() {
            Event.$emit('searchEmployee', this.dataSearch);
        },

        closeModal() {
            this.showModal = false;
            this.urlEdit = ''
        },

        closeModalDelete() {
            this.showModalDelete = false;
            this.urlDelete = '';
        },

        fetchDataEmployee() {
            Event.$emit('fetchDataEmployee');
        }
    }
}
</script>