<template>
    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table table-striped custom-table datatable">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Mobile</th>
                            <th class="text-nowrap">Date Of Birt</th>
                            <th>Ktp</th>
                            <th class="text-right no-sort">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="employee in employees" :key="employee.id">
                            <td>
                                <h2 class="table-avatar">
                                    <a href="profile.html" class="avatar"><img alt="" :src="employee.image ? employee.image : '/assets/orange/img/profiles/avatar-21.jpg'"></a>
                                    <a href="profile.html">{{ employee.first_name  }} {{ employee.last_name }}<span>{{ employee.designation_name }}</span></a>
                                </h2>
                            </td>
                            <td>{{ employee.email }}</td>
                            <td>{{ employee.phone }}</td>
                            <td>{{ employee.date_of_birth }}</td>
                            <td><button class="btn btn-success" data-toggle="modal" data-target="#show_image_ktp" @click="linkImageKtp = '/storage/'+employee.attach_ktp">KTP</button></td>
                            <td class="text-right">
                                <div class="dropdown dropdown-action">
                                    <a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a class="dropdown-item" href="#" data-toggle="modal" data-target="#modal_employee" @click="editEmployee('/employee/'+employee.id+'/edit')"><i class="fa fa-pencil m-r-5"></i> Edit</a>
                                        <a class="dropdown-item" href="#" data-toggle="modal" data-target="#delete-modal" @click="deleteEmployee('/employee/'+employee.id)"><i class="fa fa-trash-o m-r-5"></i> Delete</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="pl-3 float-right">
            <Pagination :paginator="paginator"/>
        </div>

        <div class="modal custom-modal fade" id="show_image_ktp" role="dialog">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="form-header">
                            <img :src="linkImageKtp" alt="" srcset="" height="250">
                        </div>
                        <div class="modal-btn delete-action">
                            <div class="row">
                                <div class="col-6">
                                    <a href="javascript:void(0);" data-dismiss="modal" ref="closemodal" class="btn btn-primary cancel-btn">Cancel</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import Pagination from '../global/pagination.vue';

export default {
    components: {
        Pagination
    },
    props:{
        listEmployeeUrl: String
    },
    data(){
        return {
            employees: [],
            linkImageKtp: '',
            dataSearch : {
                firstName: '',
                lastName:'',
                positionId:'',
            },
            paginator: {},
            urlListEmployee: this.listEmployeeUrl
        }
    },
    mounted() {
        this.getDataEmployee();
        Event.$on('searchEmployee', (dataSearch) => {
            this.dataSearch = dataSearch;

            this.getDataEmployee();
        })

        Event.$on('paginateClicked', (url) => {
            this.urlListEmployee = url;
            this.getDataEmployee(url);
        });

        Event.$on('fetchDataEmployee', (dataSearch) => {            
            this.getDataEmployee();
        });
    },
    methods: {
        async getDataEmployee(url = null) {
            console.log(this.dataSearch);
            this.dataSearch.per_page = 10;

            await axios.post(this.urlListEmployee, this.dataSearch).then((res) => {
                this.paginator = res.data.employees;
                this.employees = this.paginator.data;
                Event.$emit('initPagination', this.paginator);
                Event.$emit('showLoader', false);
            })
        },

        async editEmployee(url) {
            Event.$emit('editEmployee', url);
        },

        async deleteEmployee(url) {
            Event.$emit('deleteAlert', url);
        }
    }
}
</script>