<template>
<div>
    <div class="row staff-grid-row">
        <div class="col-md-4 col-sm-6 col-12 col-lg-4 col-xl-3" v-for="employee in employees" :key="employee.id">
            <div class="profile-widget">
                <div class="profile-img">
                    <a href="profile.html" class="avatar"><img :src="employee.image ? employee.image : '/assets/orange/img/profiles/avatar-02.jpg'" alt=""></a>
                </div>
                <div class="dropdown profile-action">
                    <a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" href="#" data-toggle="modal" data-target="#modal_employee" @click="editEmployee('/employee/'+employee.id+'/edit')"><i class="fa fa-pencil m-r-5"></i> Edit</a>
                        <a class="dropdown-item" href="#" data-toggle="modal" data-target="#delete-modal" @click="deleteEmployee('/employee/'+employee.id)"><i class="fa fa-trash-o m-r-5"></i> Delete</a>
                    </div>
                </div>
                <h4 class="user-name m-t-10 mb-0 text-ellipsis"><a href="profile.html">{{ employee.name }}</a></h4>
                <div class="small text-muted">{{ employee.designation_name }}</div>
            </div>
        </div>
    </div>
    <Pagination :paginator="paginator"/>
</div>
</template>
<script>
import Pagination from '../global/pagination.vue';
export default {
    components: {
        Pagination
    },
    props:{
        listEmployeeUrl: String
    },
    data(){
        return {
            employees: [],
            dataSearch : {
                firstName: '',
                lastName:'',
                positionId:'',
            },
            paginator: {},
            urlListEmployee: this.listEmployeeUrl
        }
    },
    mounted() {
        this.getDataEmployee();

        Event.$on('searchEmployee', (dataSearch) => {
            this.dataSearch = dataSearch; 
            this.getDataEmployee();
        });

        Event.$on('fetchDataEmployee', (dataSearch) => {            
            this.getDataEmployee();
        });

        Event.$on('paginateClicked', (url) => {
            this.urlListEmployee = url;
            this.getDataEmployee();
        });
    },
    methods: {
        async getDataEmployee(url = null) {
            Event.$emit('showLoader', true);
            await axios.post(this.urlListEmployee, this.dataSearch).then((res) => {
                this.paginator = res.data.employees;
                this.employees = this.paginator.data;
                Event.$emit('initPagination', this.paginator);
                Event.$emit('showLoader', false);
            })
        },

        async editEmployee(url) {
            Event.$emit('editEmployee', url);
        },

        async deleteEmployee(url) {
            Event.$emit('deleteAlert', url);
        }
    }
}
</script>