<template>
    <div class="modal custom-modal fade" id="delete-modal" role="dialog">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="form-header">
                        <h3>Delete Employee</h3>
                        <p>Are you sure want to delete?</p>
                    </div>
                    <div class="modal-btn delete-action">
                        <div class="row">
                            <div class="col-6">
                                <a href="#" @click="deleteData" class="btn btn-primary continue-btn">Delete</a>
                            </div>
                            <div class="col-6">
                                <a href="javascript:void(0);" data-dismiss="modal" ref="closemodal" class="btn btn-primary cancel-btn">Cancel</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
export default {
    props: {
        deleteEmployeeUrl: String,
        eventName: String
    },

    methods: {
        async deleteData() {
            axios.delete(this.deleteEmployeeUrl).then((res) => {
                Event.$emit(this.eventName);
                Event.$emit('closeModalDelete');

                this.closeModalDelete();
            })
        },

        closeModalDelete() {
            this.$refs.closemodal.click();
            this.$emit('closeModalDelete');
        },
    }
}
</script>