<template>
    <div class="pagination-box mt-3">
    <div class="float-right">
        <ul class="pagination">
            <li class="page-item" :class="paginator.current_page <= 1 ? 'disabled' : ''">
                <a class="page-link" href="#" @click="paginator.current_page <= 1 ? '' : clickPagination(paginator.prev_page_url )" tabindex="">Previous</a>
            </li>
            <li class="page-item" v-for="(index, key) in paginator.last_page <= 5 ? paginator.last_page : 5 " :key="key" :class="index == paginator.current_page ? 'active' : ''">
                <a class="page-link" href="#" @click="index == paginator.current_page ? '' : clickPagination(paginator.path+'?page='+index )"> {{ index }}<span class="sr-only">(current)</span></a>
            </li>
            <li class="page-item" :class="paginator.current_page >= paginator.last_page ? 'disabled' : ''">
                <a class="page-link" href="#" @click="paginator.current_page >= paginator.last_page ? '' : clickPagination(paginator.next_page_url )">Next</a>
            </li>
        </ul>
    </div>
</div>
</template>
<script>
export default {
    data() {
        return {
            paginator : {}
        }
    },
    mounted() {
        Event.$on('initPagination', (paginator) => {
            this.paginator = paginator;
        });
    },
    methods: {
        clickPagination(url) {
            Event.$emit('paginateClicked', url);
        }
    }
}
</script>